body {
  color: grey;
}

.home-section {
  height: 1000px;
  width: 100%;
}
.bg {
  /* The image used */

  background-repeat: no-repeat;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* navbar */

.btn-border {
  background-color: white;
  border: 0;
}

/* home-section */

.home-text {
  margin: auto;
  width: 60%;
  text-align: center;

  padding-top: 300px;
}

.reserve-btn {
  margin-top: 50px;
}

/* about section */

.about-container {
  margin-top: 400px;
  margin-left: 40%;
  width: 100%;
  height: 100%;
  margin-bottom: 500px;
}

.aboutUs-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.about-details h1 {
  padding-top: 500px;
  width: 50%;

  text-align: left;
}

.about-img img {
  width: 50%;

  padding-left: 200px;
}

/* reservation-section  */
.reservation-section {
  display: flex;
  flex-direction: column;

  text-align: center;
  background: rgba(51, 48, 48, 0.5);
  height: 600px;
  color: white;
}

.login-box {
  width: 100%;
  height: 420px;

  color: #fff;
  top: 30%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.login-box input {
  width: 100%;
  margin-bottom: 20px;
}
.login-box input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="number"] {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.932);
  background: transparent;
  outline: none;
  height: 40px;
  color: white;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  width: 200px;
  background: #ab6d23;
  color: #fff;
  font-size: 18px;
}
.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #39dc79;
  color: #000;
}

/*  offer section */

.offer-section-title {
  text-align: center;
}
.offer-img {
  width: inherit;
}

#hot-coffee {
  visibility: visible;
  text-align: justify;
}

#cold-coffee {
  /* visibility: hidden; */
}

#cold-coffee img {
  margin-top: 0;
  padding-right: 50px;
  width: 90%;
}

/* promo section */

.promo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  width: 100%;
  height: 500px;
  text-align: center;
}
