body {
  color: grey;
}

.home-section {
  height: 1000px;
  width: 100%;
}
.bg {
  /* The image used */

  background-repeat: no-repeat;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* navbar */

.btn-border {
  background-color: white;
  border: 0;
}

/* home-section */

.home-text {
  margin: auto;
  width: 60%;
  text-align: center;

  padding-top: 300px;
}

.reserve-btn {
  margin-top: 50px;
}
